<!-- <%#= @user.name %> -->
	<h1 class="info"><%= current_user.name %>'s Profile</h1>
	<% if current_user %>
	<%= link_to "Log out", logout_path, method: "delete" %>
	<% end %>
	<div class='row'>
		<div class="col-md-4 col-md-offset-4 heading">	
			<div id="img1"></div>
			<span class="picture">
			    <%= image_tag @profile.picture.url, class: "main_picture" %>
			</span>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="content">
				<div class="text_field"><%= @profile.content %></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="content">	
				<div class="text-field"><%= @profile.info %></div>
			</div>		
		</div>
		<div class="col-md-4">
			<div class='content'>
			    <%= image_tag @profile.activity.url, class: "other_picture" %>
			</div>		
		</div>
	</div>